# Copyright (C) 2018-present Arctic Ice Studio <development@arcticicestudio.com>
# Copyright (C) 2018-present Sven Greb <development@svengreb.de>
#
# Project:    Nord JetBrains
# Repository: https://github.com/arcticicestudio/nord-jetbrains
# License:    MIT

# +------+
# + Java +
# +------+
*.jar

# +-------------------+
# + Project Structure +
# +-------------------+
.idea/
out/
